.button-back-to-article{
    display: flex;
    justify-content : center;
    align-items: center;
}

.button-for-back {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: lightgoldenrodyellow;
    color: black;
    border: 4px solid transparent;
    background :
        linear-gradient(#FEF6E9 0 0) padding-box, /*this is your grey background*/
        linear-gradient(180deg, rgba(242,110,33,1) 0%, rgba(249,161,33,1) 100%) border-box;
    border-radius: 5px;
    padding: 12px 20px;
    font-weight: 600;
}
