@media(min-width: 801px){
    .documentation-photo{
        width: 400px;
        height: 275px;
        min-width: none;
        object-fit: cover;
        border-radius: 30px;
        box-shadow: inset 0px 0px 20px 10px rgb(3, 3, 3, 0.9);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
}

@media(max-width: 800px){
    .documentation-photo{
        width: 320px;
        height: 180px;
        min-width: none;
        object-fit: cover;
        border-radius: 30px;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
        margin-bottom: 20px;
        box-shadow: inset 0px 0px 20px 10px rgb(3, 3, 3, 0.9);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

    }
}
